.table {
  width: 100%; /* Make the table take up the full width */
  border-collapse: collapse; /* Collapse borders */
}

.table th,
.table td {
  border: 1px solid #ddd; /* Add a border to the cells */
  padding: 15px; /* Add some padding */
  text-align: left; /* Align text to the left */
  text-transform: uppercase; /* Make text uppercase */
  min-width: 4em;
}

.table tbody tr td:first-of-type {
  font-weight: bold;
}

.table th {
  background-color: #f2f2f2; /* Add a background color to the header cells */
  color: black; /* Make the text color black */
}

.table tr:nth-child(even) {
  background-color: #f2f2f2; /* Add a background color to every other row */
}

.table tr:hover {
  background-color: #ddd; /* Change the background color when hovering over a row */
}
