.main {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  min-height: 100vh;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4em;
}

.title {
  font-size: 2em;
  color: #333;
  font-weight: 300;
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.underTitle {
  font-size: 1em;
  color: #333;
  font-weight: 300;
  text-align: center;
  margin-bottom: 40px;
}

.textarea {
  width: 100%; /* Increase the width */
  height: 200px; /* Increase the height */
  padding: 10px; /* Add some padding */
  font-size: 16px; /* Increase font size */
  border-radius: 5px; /* Add border radius for rounded corners */
  border: 1px solid #ccc; /* Add a border */
  resize: none; /* Disable resizing */
}

.inputGroup {
  display: flex;
  align-items: center;
}

.textInput {
  padding: 10px;
  border-radius: 5px 0px 0px 5px;
  border: 1px solid #ccc;
  width: 70px;
}

.button {
  flex-shrink: 0;
  padding: 10px 20px;
  border-radius: 0 5px 5px 0;
  background-color: #d3d3d3; /* You can change this to any color you like */
  color: rgb(12, 12, 12);
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 1px solid #ccc;
}

.button:hover {
  background-color: #a5a5a5; /* Darker shade of the original color for hover effect */
}

.leftContainer {
  max-width: 17vw;
}

.tableContainer {
  max-width: 80vw;
  overflow: auto;
  max-height: 80vh;
}

.tickersListHeader {
  font-weight: normal;
  margin: 0;
}

.info {
  font-size: small;
}

.legend {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1em;
  margin-top: 1em;
}

.legendSymbol {
  width: 4em;
  color: brown;
}
