.main {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  min-height: 100vh;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.title {
  font-size: 2em;
  color: #333;
  font-weight: 300;
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.textarea {
  width: 80%; /* Increase the width */
  height: 200px; /* Increase the height */
  padding: 10px; /* Add some padding */
  font-size: 16px; /* Increase font size */
  border-radius: 5px; /* Add border radius for rounded corners */
  border: 1px solid #ccc; /* Add a border */
  resize: none; /* Disable resizing */
}

.table {
  width: 100%; /* Make the table take up the full width */
  border-collapse: collapse; /* Collapse borders */
}

.table th,
.table td {
  border: 1px solid #ddd; /* Add a border to the cells */
  padding: 15px; /* Add some padding */
  text-align: left; /* Align text to the left */
  text-transform: uppercase; /* Make text uppercase */
  min-width: 4em;
}

.table tbody tr td:first-of-type {
  font-weight: bold;
}

.table th {
  background-color: #f2f2f2; /* Add a background color to the header cells */
  color: black; /* Make the text color black */
}

.table tr:nth-child(even) {
  background-color: #f2f2f2; /* Add a background color to every other row */
}

.table tr:hover {
  background-color: #ddd; /* Change the background color when hovering over a row */
}

.inputGroup {
  display: flex;
  align-items: center;
}

.textInput {
  padding: 10px;
  border-radius: 5px 0px 0px 5px;
  border: 1px solid #ccc;
  width: 70px;
}

.button {
  flex-shrink: 0;
  padding: 10px 20px;
  border-radius: 0 5px 5px 0;
  background-color: #d3d3d3; /* You can change this to any color you like */
  color: rgb(12, 12, 12);
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 1px solid #ccc;
}

.button:hover {
  background-color: #a5a5a5; /* Darker shade of the original color for hover effect */
}

.tableContainer {
  max-width: 80vw;
  overflow: auto;
  max-height: 80vh;
}
